.sections {
    width: 90%;
    font-family: Arial, Helvetica, sans-serif;
}

.label {
background: rgb(39, 39, 39);
margin: 1rem;
}

.input {
    border-radius: 6px;
}

.select {
    border-radius: 6px;
}