.container {
    background: rgb(12, 12, 12);
    height: auto;
    width: 90%;
    margin: auto;
    border-radius: 4px;
    border: 1px solid white;
    padding: 1rem;
    border-radius: 6px;
}

.section {

}

.anchor {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.images {

}
.image {
    height: 6rem;
    width: 8rem;
}

.para {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}