.btncontainer {
    margin:auto;
    height: 4rem;
    width: 70%;
}
.btn {
    color: white;
    background: grey;
    height: 2rem;
    width: 4rem;
    border-radius: 6px;
}
.btn:hover {
    background: rgb(216, 210, 210);
}
.btnActive {
    background: rgb(216, 210, 210);
}