
/* On screens over 992px */

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: black;
    height: 100%;
    width: 100%;
    padding-top: 10%;

}
.headsection {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
 
  background: rgb(34, 33, 33);
  color: white;
  height: 7rem;
  width: 100%;
  margin-bottom: 10rem;
  text-align: center;
  
}
.heading {
  width: 70%;
  font-size: 4rem;
}
.mainpara {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  width: 90%;
  margin-left: 3rem;
  margin-right: 3rem;
}


/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

}