.container {
    height: 0;
    width: 100%;
    color: white;
    background: rgb(56, 56, 56);
    transition: all 1s;
    
}

.containerActive {
    height: 20rem; 
    width: 100%;
    color: white;
    background: rgb(56, 56, 56);
    transition: all 1s;
    
    
}
.programboxes {
  
    flex-wrap: wrap;
    padding-top: 3rem;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

}
