.container {
    height: 0;
    width: 100%;
    color: white;
    background: rgb(56, 56, 56);
    transition: all 1s;
    
}

.containerActive {
    height: auto; 
    width: 100%;
    color: white;
    background: rgb(56, 56, 56);
    transition: all 1s;
    
    
}
.programboxes {
  
    
    padding-top: 1.5rem;
}

/* On screens that are 992px or less,  */
@media screen and (max-width: 992px) {
  
}

/* On screens that are 600px or less,  */
@media screen and (max-width: 600px) {
.containerActive {
   
}
}
