.container {
    color:rgb(60, 58, 58);
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 51, 51);
    margin: auto;
    height: 0rem;
    width: 90%;
    border-radius: 6px;
    padding: 1rem;
    z-index: -1;
    transition: all 1s ease-out;

}
.containerisactive {
    flex-direction: column;
    display: flex;
    background-color: rgb(53, 51, 51);
    margin: auto;
    height: 20rem;
    width: 90%;
    border-radius: 6px;
    padding: 1rem;
    transition: width 0.5s, height 1s;
    transition: all 1s ease-in-out;

}
.inactivecontent {
    height: 0;
    width: 90%;
    transition: all 1s ease-out;
}
.activecontent {
    color: white;
    height: 10rem;
    transition: all 1s ease-in-out;
}

/* icons */
.icons {
    display: flex;
    flex-direction: row;
    margin: auto;
    color:  rgb(71, 176, 71)
}


/*------media queries------*/



@media screen and (max-width: 992px) {
   

    
}


@media screen and (max-width: 600px) {
  
    
}