.container {
    color:rgb(53, 51, 51);
    display: flex;
    background-color: rgb(53, 51, 51);
    margin: auto;
    height: 0rem;
    width: 90%;
    border-radius: 6px;
    padding: 1rem;
    z-index: -1;
    transition: all 1s ease-out;

}
.containerisactive {
    display: flex;
    background-color: rgb(53, 51, 51);
    margin: auto;
    height: 10rem;
    width: 90%;
    border-radius: 6px;
    padding: 1rem;
    transition: width 0.5s, height 1s;
    transition: all 1s ease-in-out;

}
.inactivecontent {
    height: 0;
    width: 90%;
    transition: all 1s ease-out;
}
.activecontent {
    color: white;
    height: 15rem;
    transition: all 1s ease-in-out;
}