.subsection {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    background: black;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
  

}
.btn {
    font-size: 2rem;
    height: 6rem;
    width: 100%;
    background: rgb(32, 32, 32);
    color: whitesmoke;
    border-radius: 6px;
    border: 3px solid black;
    border-top-left-radius: 90%;
    border-top-right-radius: 6px;
    box-shadow: inset 0 0 10px #333;
   
}
.btn:hover {
    background: rgb(133, 131, 131);
    cursor: pointer;
}
.contentfolder {
    display: flex;
    background: rgb(169, 168, 168);
    height: 1rem;
    width: 99%;
    margin: auto;
    transition: width 0.3s, height 0.5s;
    
    
}
.contentfoldertrans {
    background: rgb(169, 168, 168);
    display: flex;
    height: 10rem;
    width: 99%;
    transition: width 0.5s, height 1s;
    margin: auto;
    
}
/* image and animation*/ 

.imagemain {
    height: 0;
    width: 0;
}
.showimagemain {
    height: 6rem;
    width: 17%;
    transition: width 0.5s, height 1s;
    transition: all 1s ease-in-out;
    border: 2px solid white;
    margin-left: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.showimagemain:hover {
    transform: scale(2); 
   
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

/* Media Player */

.player {
    margin: auto;
}

/* About (content) */
.aboutinactive {
    display: none;
    height: 0;
    width: 0;
}
.aboutactive {
    font-size: large;
    color: white;
    background-color: #333;
    height: 10rem;
    width: 70%;
    margin: auto;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: width 1s, height 2s;
}
/* Nav-bar and buttons */

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}
.navbtn {
    font-size: larger;
    background: rgb(33, 32, 32);
    width: 25%;
    border-radius: 6px;
    height: 6rem;
    color: white;
    cursor: pointer;
   
    
}
.navbtn:hover {
    background: grey;
}
.navbtn:active {
    background: grey;;
}




@media screen and (max-width: 992px) {
    .subsection {

    }
    .btn {
    
    }
    .content {
        
    }
    
}


@media screen and (max-width: 600px) {
    .subsection {

    }
    .btn {
    
    }
    .content {
        
    }
    
}