.container {
    color: white;
    margin-left: 2rem;
}
.list {
    display: flex;
    flex-direction: column;
}

.listItem {
    display: flex;
    height: 2rem;
    width: 7rem;
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.deletebutton {
    background: red;
    color: white;
    border-radius: 25%
}