
/* On screens over 992px */

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: black;
    height: 100%;
    width: 100%;
    padding-top: 10%;
    color: rgb(94, 155, 94)
}
.headsection {
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
 
  background: rgb(34, 33, 33);
  color: white;
  height: 7rem;
  width: 100%;
  margin-bottom: 5rem;
  text-align: center;
  
}
.headabout {
  color: white;
  font-size: 2rem;
}
.heading {
  width: 70%;
  font-size: 4rem;


}
.content {
margin-top: 1rem;
padding: 4rem;
height: auto;
background: black;;
}

.contentpara {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: white;
  padding: 1rem;
  padding-top: 0;
}
.techHead {
  font-size: 2rem;
  color: white;
}
.techused {
  margin-left: 5%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;

}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

}
