.headabout {
    color: white;
    font-size: 2rem;
    margin-left: 4rem;
    margin-top: 2rem;
  }






    .techHead {
      font-size: 2rem;
      color: white;
      margin-left: 2rem;
      margin-top: 12rem;
    }
    .techused {
      margin-left: 5%;
      margin-right: 10%;
      display: flex;
      margin-top: 3rem;
      flex-direction: row;
    
    }

    /* animation */


.abouttext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  color: white;
  display: flex;
  height: auto;
  width: 90%;
  margin-left: 4rem;
  margin-bottom: 3rem;


 
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

}
