.container {
    background-color: rgb(37, 36, 36);
    color: white;
    margin: auto;
    width: 80%;
    margin-left: 4rem;
    height: auto;
}

.caseNote {
    color: rgb(41, 41, 41);
    width: 80%;
}
.form {
    margin-left: 1rem;
}
.para {
    color: white;
    margin: auto;
    width: 60%;
    margin-top: 1rem;

}
.btn {
    color: white;
    background:rgb(93, 92, 92) ;
    border-radius: 6px;
    margin-left: 2rem;
    margin-top: 2rem;
}
.btn:hover {
    background:rgb(181, 178, 178);
}
