.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: rgb(71, 70, 70);
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 1rem;
    padding-top: 2rem;
}
.errormsg {
    display: flex;
    margin: auto;
    color: white;
}